<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quip.backend.problem.mapper.ProblemMapper">

    <resultMap id="ProblemDTOResultMap" type="com.quip.backend.problem.dto.ProblemDTO">
        <!-- Map columns to ProblemDTO fields -->
        <id column="id" property="problemId" />
        <result column="question" property="question" />
        <result column="choices" property="choices" jdbcType="ARRAY" />
        <result column="num_asked" property="numAsked" />
        <result column="num_correct" property="numCorrect" />
        <result column="img_url" property="imgUrl" />
    </resultMap>

    <resultMap id="ProblemResultMap" type="com.quip.backend.problem.model.Problem">
        <!-- Map columns to Problem fields -->
        <!-- Map columns to ProblemDTO fields -->
        <id column="problem_id" property="problemId" />
        <result column="question" property="question" />
        <result column="choices" property="choices" jdbcType="ARRAY" />
        <result column="num_asked" property="numAsked" />
        <result column="num_correct" property="numCorrect" />
        <result column="img_url" property="imgUrl" />

        <!-- Additional fields for Problem -->
        <result column="correct_answer_index" property="correctAnswerIndex" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <select id="numProblems"  resultType="int">
        SELECT COUNT(*) FROM problem;
    </select>

    <select id="selectProblemDTOById" resultMap="ProblemDTOResultMap">
        SELECT problem_id, question, choices, num_asked, num_correct, img_url
        FROM problem
        WHERE problem_id = #{problemId};
    </select>

    <select id="selectProblemById" parameterType="long" resultMap="ProblemResultMap">
        SELECT problem_id, question, choices, correct_answer_index, num_asked, num_correct, created_at, img_url
        FROM problem WHERE problem_id = #{problemId};
    </select>

    <select id="updateProblemChoicesById" resultMap="ProblemResultMap">
        UPDATE problem
        SET choices = #{problem.choices}, correct_answer_index = #{correct_answer_index}
        WHERE problem_id = #{problemId}
    </select>

    <select id="updateProblemNumCorrectById" resultMap="ProblemResultMap">
        UPDATE problem
        SET num_correct = #{numCorrect}
        WHERE problem_id = #{problemId}
    </select>

    <select id="updateProblemNumAskedById" resultMap="ProblemResultMap">
        UPDATE problem
        SET num_asked = #{numAsked}
        WHERE problem_id = #{problemId}
    </select>

</mapper>