<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quip.backend.problem.mapper.database.ProblemMapper">

    <resultMap id="ProblemDTOResultMap" type="com.quip.backend.problem.dto.ProblemDto">
        <!-- Map columns to ProblemDTO fields -->
        <id column="id" property="problemId" />
        <result column="question" property="question" />
        <result column="choices" property="choices" jdbcType="ARRAY" />
        <result column="num_asked" property="numAsked" />
        <result column="num_correct" property="numCorrect" />
        <result column="media_url" property="mediaUrl" />
    </resultMap>

    <resultMap id="ProblemResultMap" type="com.quip.backend.problem.model.Problem">
        <!-- Map columns to Problem fields -->
        <!-- Map columns to ProblemDTO fields -->
        <id column="problem_id" property="problemId" />
        <result column="question" property="question" />
        <result column="choices" property="choices" jdbcType="ARRAY" />
        <result column="num_asked" property="numAsked" />
        <result column="num_correct" property="numCorrect" />
        <result column="media_url" property="mediaUrl" />

        <!-- Additional fields for Problem -->
        <result column="contributor_id" property="contributorId" />
        <result column="correct_answer_index" property="correctAnswerIndex" />
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
        <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="numProblems"  resultType="int">
        SELECT COUNT(*) FROM problem;
    </select>

    <select id="selectProblemDtoById" resultMap="ProblemDTOResultMap">
        SELECT problem_id, question, choices, num_asked, num_correct, media_url
        FROM problem
        WHERE problem_id = #{problemId}
    </select>

    <select id="selectRandomProblem" parameterType="long" resultMap="ProblemResultMap">
        SELECT
        problem_id, question, choices, correct_answer_index, num_asked, num_correct,
        media_url, contributor_id, created_at, updated_at
        FROM problem ORDER BY RANDOM() LIMIT 1
    </select>

    <select id="selectProblemById" parameterType="long" resultMap="ProblemResultMap">
        SELECT
        problem_id, question, choices, correct_answer_index, num_asked, num_correct,
        media_url, contributor_id, created_at, updated_at
        FROM problem WHERE problem_id = #{problemId}
    </select>

    <select id="updateProblemChoicesById" resultMap="ProblemResultMap">
        UPDATE problem
        SET choices = #{problem.choices}, correct_answer_index = #{correct_answer_index}
        WHERE problem_id = #{problemId}
    </select>

    <select id="updateProblemNumCorrectById" resultMap="ProblemResultMap">
        UPDATE problem
        SET num_correct = #{numCorrect}
        WHERE problem_id = #{problemId}
    </select>

    <select id="updateProblemNumAskedById" resultMap="ProblemResultMap">
        UPDATE problem
        SET num_asked = #{numAsked}
        WHERE problem_id = #{problemId}
    </select>

    <insert id="addProblem" parameterType="com.quip.backend.problem.dto.ProblemCreateDto">
        INSERT INTO problem
        (question, choices, correct_answer_index, num_asked, num_correct, created_at, media_url)
        VALUES (
        #{question}, #{choices, jdbcType=ARRAY}, #{correctAnswerIndex}, #{numAsked},
        #{numCorrect}, #{createdAt, jdbcType=TIMESTAMP}, #{updatedAt, jdbcType=TIMESTAMP}, #{mediaUrl}
        )
    </insert>
</mapper>