<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quip.backend.mappers.UserMapper">

    <select id="findById" parameterType="long" resultType="com.quip.backend.model.User">
        SELECT * FROM users WHERE id = #{id}
    </select>

</mapper>