<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quip.backend.authorization.mapper.database.AuthorizationTypeMapper">

    <resultMap id="PermissionTypeResultMap" type="com.quip.backend.authorization.model.AuthorizationType">
        <id property="id" column="id"/>
        <result property="authorizationTypeName" column="authorization_type_name"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="selectByPermissionTypeName" resultMap="PermissionTypeResultMap">
        SELECT id, authorization_name, created_by, updated_by, created_at, updated_at
        FROM authorization_type
        WHERE authorization_type_name = #{authorizationTypeName}
    </select>
</mapper>
