<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.quip.backend.authorization.mapper.database.MemberChannelPermissionMapper">

    <resultMap id="MemberChannelPermissionResultMap" type="com.quip.backend.authorization.model.MemberChannelPermission">
        <result property="memberId" column="member_id"/>
        <result property="channelId" column="channel_id"/>
        <result property="permissionTypeId" column="permission_type_id"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

</mapper>
